.navigate{
    margin-bottom: 15px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

li {
    list-style: none;
}

.messages {
    margin: 0;
    padding: 0;
}

li.error {
    color: red;
}

li.success {
    color: green;
}

h4 {
    margin-right: 20px;
}

.username {
    margin: 30px 0;
}

span.title {
    display: inline-block;
    text-align: left;
    width: 130px;
}

.info {
    margin-bottom: 15px;
}

.info li {
    margin: 2px 0;
}

.post {
    margin: 10px 0;
    padding: 4px 15px;
    color: white;
    border-radius: 6px;
    border: 1px solid rgb(200, 200, 200);
    background-image: linear-gradient(rgb(130, 130, 130), rgb(30, 30, 30))
}

.post_message form textarea, .post_comment form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 5px 0;
    height: 4rem;
    resize: vertical;
    border-radius: 5px;
}

.post_header {
    background-image: linear-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    padding: 10px;
}

.show_messages, .show_comments {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 25px 0;
}

.show_messages p, .show_comments p {
    margin: 10px;
}

.show_comments {
    margin-left: 3rem;
}

.post_comment form textarea {
    margin-left: 3rem;
    width: 96%;
    box-sizing: border-box;
}

#messages .posted_at {
    float: right;
    font-size: 0.8rem;
}

#messages h5 {
    display: inline-block;
    margin: 0.5rem 0;
    line-height: 1.3rem;
}

.container .row {
    margin: 30px 0;
}

.container .row .col {
    padding-right: 100px;
}